<mat-card>
  <mat-card-title>Enter Gross Annual Salary</mat-card-title>
  <mat-card-content>
    <form [formGroup]="salaryForm">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayout.xs="column" fxLayoutGap="16px">
        <mat-form-field appearance="fill" fxFlex="70" fxFlex.xs="100" class="input-field">
          <mat-label>Gross Annual Salary</mat-label>
          <input matInput formControlName="grossSalary" type="number" />
          <mat-error *ngIf="salaryForm.controls['grossSalary'].hasError('required')">
            Gross Annual Salary is required.
          </mat-error>
          <mat-error *ngIf="salaryForm.controls['grossSalary'].hasError('min')">
            Salary must be greater than 0.
          </mat-error>
        </mat-form-field>

        <div fxFlex="30" fxFlex.xs="100" class="button-container">
          <button
            mat-raised-button
            color="primary"
            (click)="onCalculate()"
            [disabled]="isProcessing || salaryForm.invalid"
            class="calculate-btn"
          >
            Calculate
          </button>
        </div>
      </div>
    </form>

    <mat-progress-bar *ngIf="isProcessing" mode="indeterminate"></mat-progress-bar>
  </mat-card-content>
</mat-card>