<mat-toolbar color="primary">
  Salary Calculator
</mat-toolbar>
<div fxLayout="row" fxLayoutGap="16px" style="padding: 16px;">
  <div fxFlex="50%" fxFlex.xs="100%">
    <div fxLayout="column" fxLayoutGap="16px">
      <mat-card>
        <app-salary-input (calculate)="onCalculate($event)"></app-salary-input>
      </mat-card>
      <mat-card>
        <app-salary-result [calculationResult]="calculationResult"></app-salary-result>
      </mat-card>
    </div>
  </div>

  <div fxFlex="50%" fxFlex.xs="100%">
    <mat-card>
      <app-salary-history [calculationsHistory]="calculationHistory"></app-salary-history>
    </mat-card>
  </div>
</div>